<ion-content>
	<div class="circle1-bg"></div>
	<div class="circle2-bg"></div>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-text>
					<h1 class="text-heading">Car</h1>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-card>
	    <img src="https://via.placeholder.com/382x200?text=Image">
	    <ion-card-header>
	      <ion-card-title color="theme">2018 Honda HR-V</ion-card-title>
	    </ion-card-header>

	    <ion-card-content>
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    </ion-card-content>
  	</ion-card>

	<ion-card>
		<img src="https://via.placeholder.com/382x200?text=Image">
		<ion-card-header>
		  <ion-card-title color="theme">2020 Honda HR-V</ion-card-title>
		</ion-card-header>

		<ion-card-content>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</ion-card-content>
	</ion-card>
</ion-content>
