<ion-header>
  <ion-toolbar color="theme">
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-title">รถของฉัน</ion-title>
    <ion-button slot="end" color="light" shape="round" size="small" routerLink="car-add">
    	<ion-icon name="add-circle-outline" class="mr-1"></ion-icon> ลงประกาศใหม่
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<ion-searchbar placeholder="ค้นหา"></ion-searchbar>
	<ion-card *ngFor="let lists of listcar">
	  <ion-row>
	  	<ion-col size="6">
	  		<img src="{{lists.image}}" alt="" *ngIf="lists.image !== ''">
	  		<img src="assets/images/no-images.jpg" alt="" *ngIf="lists.image == ''">
	  	</ion-col>
	  	<ion-col size="6">
	  		<ion-text>
	  			<h6>{{lists.name}}</h6>
	  			<h4>{{lists.price}}</h4>
	  		</ion-text>
	  		<ion-button routerLink="car-detail/{{lists.id}}" expand="full" color="success" size="small">ข้อมูลรถ</ion-button>
	  		<ion-button routerLink="/promote/{{lists.id}}" expand="full" color="secondary" size="small" type="submit">ดันโปรโมท</ion-button>
			<ion-button routerLink="edit/{{lists.id}}" expand="full" color="tertiary" size="small">แก้ไขข้อมูลรถ</ion-button>
			<ion-button expand="full" color="danger" size="small" (click)="btnDelcar(lists.id)">ลบ</ion-button>	
	  	</ion-col>
	  </ion-row>
	</ion-card>
	<ion-grid>
		<ion-row>
			<ion-col size="4">
				<ion-button color="medium" expand="block" routerLink="/profile/announce/{{pagePrev}}">
					<ion-icon name="chevron-back-outline"></ion-icon> ย้อนกลับ
				</ion-button>
			</ion-col>
			<ion-col size="4">
				<ion-button color="dark" expand="block">{{page}}</ion-button>
			</ion-col>
			<ion-col size="4">
				<ion-button color="theme" expand="block" routerLink="/profile/announce/{{pageNext}}">ถัดไป 
					<ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
