<ion-header>
  <ion-toolbar color="theme">
  	<!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <ion-title>ค้นหารถมือสอง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="filterForm()">
	<ion-list>
	  <ion-list-header>
	    <ion-label>
	      ค้นหารถมือสอง
	    </ion-label>
	  </ion-list-header>
	  <ion-item>
	    <ion-label>จังหวัด</ion-label>
	    <ion-select value="0" [(ngModel)]="data.province" name="province">
	      <ion-select-option value="0">จังหวัด</ion-select-option>
	      <ion-select-option *ngFor="let province of carprovince" value="{{province.Id}}">{{province.Name}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>ประเภทรถ</ion-label>
	    <ion-select value="0" [(ngModel)]="data.type" name="type">
	    	<ion-select-option value="0">ทุกประเภทรถ</ion-select-option>
	      	<ion-select-option *ngFor="let type of cartype" value="{{type.id}}">{{type.text}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>ยี่ห้อรถ</ion-label>
	    <ion-select value="0" [(ngModel)]="data.brand" name="brand" (ionChange)="getModel()">
	    	<ion-select-option value="0">ทุกยี่ห้อรถ</ion-select-option>
	      <ion-select-option *ngFor="let brand of carbrand" value="{{brand.id}}">{{brand.text}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>รุ่นรถ</ion-label>
	    <ion-select value="0" [(ngModel)]="data.model" name="model" (ionChange)="getBody()">
	      <ion-select-option value="0">ทุกรุ่นรถ</ion-select-option>
	      <ion-select-option *ngFor="let model of carmodels" value="{{model.Id}}">{{model.Title}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>โฉมรถ</ion-label>
	    <ion-select value="0" [(ngModel)]="data.body" name="body" (ionChange)="getsubBody()">
	      <ion-select-option value="0">ทุกโฉมรถ</ion-select-option>
	      <ion-select-option *ngFor="let body of carBody" value="{{body.Id}}">{{body.Title}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>รายละเอียดรุ่น</ion-label>
	    <ion-select value="0" [(ngModel)]="data.submodel" name="submodel">
	      <ion-select-option value="0">ทุกรายละเอียดรุ่น</ion-select-option>
	      <ion-select-option *ngFor="let submodel of carsubBody" value="{{submodel.Id}}">{{submodel.Title}}</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>ปี</ion-label>
	    <ion-select value="0" [(ngModel)]="data.year" name="year">
	      	<ion-select-option value="0">ทุกปี</ion-select-option>
	      	<ion-select-option value="1">2015 ขึ้นไป</ion-select-option>
	        <ion-select-option value="2">2012 - 2014</ion-select-option>
	        <ion-select-option value="3">2009 - 2011</ion-select-option>
	        <ion-select-option value="4">2006 - 2008</ion-select-option>
	        <ion-select-option value="5">2003 - 2005</ion-select-option>
	        <ion-select-option value="6">2000 - 2002</ion-select-option>
	        <ion-select-option value="7">1997 - 1999</ion-select-option>
	        <ion-select-option value="8">1994 - 1996</ion-select-option>
	        <ion-select-option value="9">1991 - 1993</ion-select-option>
	        <ion-select-option value="10">ต่ำกว่าปี 1990</ion-select-option>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>ช่วงราคา</ion-label>
	    <ion-select value="0" [(ngModel)]="data.price" name="price">
	      	<ion-select-option value="0">ทุกช่วงราคา</ion-select-option>
			<ion-select-option value="1">น้อยกว่า 2 เเสนบาท</ion-select-option>
			<ion-select-option value="2">2 เเสนบาท - 4 เเสนบาท</ion-select-option>
			<ion-select-option value="3">4 เเสนบาท - 6 เเสนบาท</ion-select-option>
			<ion-select-option value="4">6 เเสนบาท - 8 เเสนบาท</ion-select-option>
			<ion-select-option value="5">8 เเสนบาท - 1 ล้านบาท</ion-select-option>
			<ion-select-option value="6">1 ล้านบาท - 1.5 ล้านบาท</ion-select-option>
			<ion-select-option value="7">1.5 ล้านบาท - 2 ล้านบาท</ion-select-option>
			<ion-select-option value="8">มากกว่า 2 ล้านบาท</ion-select-option>
	    </ion-select>
	  </ion-item>

	</ion-list>
	<ion-button expand="block" type="submit">ค้นหา</ion-button>
</form>
</ion-content>
