<ion-header>
  <ion-toolbar color="theme">
  	<!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="carall/1/0/0"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>รายละเอียดรถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="card images-car">
		<ion-slides>
	        <ion-slide *ngFor="let images of images">
	          <div class="slide">
				<img src="{{images}}" alt="">
	          </div>
	        </ion-slide>
	  	</ion-slides>
	</div>
	<div class="card">
		<ion-grid>
			<!-- <ion-row>
				<ion-col size="12">
					<ion-slides>
				        <ion-slide *ngFor="let images of images">
				          <div class="slide">
							<img src="{{images}}" alt="">
				          </div>
				        </ion-slide>
			      	</ion-slides>
				</ion-col>
			</ion-row> -->
			<!-- <ion-row>
				<ion-col size="12">
					<table class="table">
						<tbody>
							<tr>
								<td>ยี่ห้อรถยนต์</td>
								<td>{{brand}}</td>
							</tr>
							<tr>
								<td>รุ่นรถยนต์</td>
								<td>{{model}}</td>
							</tr>
							<tr>
								<td>โฉมรถยนต์</td>
								<td>{{name}}</td>
							</tr>
							<tr>
								<td>รายละเอียดรุ่น</td>
								<td>{{submodel}}</td>
							</tr>
							<tr>
								<td>ปี</td>
								<td>{{year}}</td>
							</tr>
							<tr>
								<td>ขนาดเครื่องยนต์</td>
								<td>{{power}}</td>
							</tr>
							<tr>
								<td>ระบบเกียร์</td>
								<td>{{gear}}</td>
							</tr>
							<tr>
								<td>เลขไมล์</td>
								<td>{{mileage}}</td>
							</tr>
							<tr>
								<td>สี</td>
								<td>{{color}}</td>
							</tr>
							<tr>
								<td>ประเภทรถ</td>
								<td>{{type}}</td>
							</tr>
							<tr>
								<td>รายละเอียดเพิ่มเติม</td>
								<td>{{detail}}</td>
							</tr>
						</tbody>
					</table>
				</ion-col>
			</ion-row> -->
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h3>ราคา {{price}} บาท</h3>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">ยี่ห้อรถยนต์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{brand}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme"> 
						<p class="ion-no-margin">รุ่นรถยนต์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{model}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">โฉมรถยนต์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{name}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">รายละเอียดรุ่น</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{submodel}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">ปี</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{year}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">ขนาดเครื่องยนต์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{power}} cc</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">ระบบเกียร์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{gear}}</p> 
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">เลขไมล์</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{mileage}} กม.</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">สี</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{color}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="5">
					<ion-text color="theme">
						<p class="ion-no-margin">ประเภทรถ</p>
					</ion-text>
				</ion-col>
				<ion-col size="7">
					<ion-text>
						<p class="ion-no-margin">{{type}}</p>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						รายละเอียดเพิ่มเติม
					</ion-text>
				</ion-col>
				<ion-col size="12">
					{{detail}}
				</ion-col>
			</ion-row>
			<!-- <ion-row>
				<ion-col size="6">
					อัพเดทวันที่
				</ion-col>
				<ion-col size="6">
					<p class="ion-no-margin">20 มกราคม 2564</p>
				</ion-col>
			</ion-row> -->
		</ion-grid>
	</div>

	<div class="card">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-text color="theme">
						<h3 class="mb-0">ข้อมูลผู้ขาย</h3>
					</ion-text>
				</ion-col>
				<ion-col size="12">
					<h4 class="mt-0">ข้อมูลชื่อผู้ลงขาย : {{ username }}</h4>
					<!-- <ion-chip>
						<ion-avatar>
							<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						</ion-avatar>
						<ion-label>{{username}}</ion-label>
					</ion-chip> -->
				</ion-col>
				<!-- <ion-col size="12">
					<ion-button color="warning" expand="fill" href="tel:{{tel}}"><ion-icon name="call-outline"></ion-icon></ion-button>
					<ion-button color="line" expand="fill" href="{{line}}"><img src="assets/images/line.png" width="25"></ion-button>
					<ion-button color="tertiary" expand="fill" routerLink="/favorites/{{car_id}}"><ion-icon name="heart-outline"></ion-icon></ion-button>
				</ion-col> -->
			</ion-row>
			<ion-row>
				<ion-col size="4">
					<ion-button color="warning" expand="block" href="tel:{{tel}}"><ion-icon name="call-outline"></ion-icon></ion-button>
				</ion-col>
				<ion-col size="4">
					<ion-button color="line" expand="block" href="{{line}}"><img src="assets/images/line.png" width="25"></ion-button>
				</ion-col>
				<ion-col size="4">
					<ion-button color="tertiary" expand="block" routerLink="/favorites/{{car_id}}"><ion-icon name="heart-outline"></ion-icon></ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
