.input {
	border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px !important;
}
.btn-fb {
	margin-bottom: 20px;
	background-color: #3b5998 !important;
}
.text-or {
	margin-bottom: 20px !important;
}