<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ค้นหารถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-text color="theme">
					<h3><strong>เลือกดูตามประเภท</strong></h3>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="card">
		<ion-row>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/71/0/0/0/0/0/0/0">
					<i class="icon icon-door2"></i><br>
					<small>รถเก๋ง 2 ประตู</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/65/0/0/0/0/0/0/0">
					<i class="icon icon-door4"></i><br>
					<small>รถเก๋ง 4 ประตู</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/67/0/0/0/0/0/0/0">
					<i class="icon icon-door5"></i><br>
					<small>รถเก๋ง 5 ประตู</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/72/0/0/0/0/0/0/0">
					<i class="icon icon-cabriolet"></i><br>
					<small>รถเปิดประทุน</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/66/0/0/0/0/0/0/0">
					<i class="icon icon-pickup"></i><br>
					<small>รถกระบะ</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/69/0/0/0/0/0/0/0">
					<i class="icon icon-wagon"></i><br>
					<small>WAGON</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/68/0/0/0/0/0/0/0">
					<i class="icon icon-suv"></i><br>
					<small>SUV</small>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="ion-text-center card" routerLink="/carall/1/73/0/0/0/0/0/0/0">
					<i class="icon icon-van"></i><br>
					<small>รถตู้/MPV</small>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-text color="theme">
					<h3><strong>เลือกดูตามยี่ห้อ</strong></h3>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="card">
		<ion-row>
			<ion-col size="4" *ngFor="let list of listbrands">
				<div class="logo-car">
					<img src="{{list.image}}" routerLink="/carall/1/0/{{list.id}}/0/0/0/0/0/0"><br>
					<small>{{list.name}}</small>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
