<ion-header>
  <ion-toolbar color="theme">
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>รายการโปรด</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let lists of listcar">
				<div class="card mb-1">
					<img src="{{lists.image}}">
					<div class="card-body">
						<ion-text color="theme">
							<p class="my-0">{{lists.title}}</p>
						</ion-text>
						<br>
						<p class="my-0">{{lists.price}} บาท</p>
					</div>
					<ion-row>
						<ion-col size="6">
							<ion-button routerLink="car-detail/{{lists.id}}" expand="block" color="tertiary">
								<ion-icon name="search-outline"></ion-icon>
							</ion-button>
						</ion-col>
						<ion-col size="6">
							<ion-button expand="block" color="danger" fill="solid" (click)="delCar($event)" id="{{lists.id}}">
								<ion-icon name="trash-outline"></ion-icon>
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
