ion-input {
  border: 1px solid #333;
  border-radius: 7px;
  background-color: #fff;
}
/* logo */
.logo {
  text-align: center !important;
  border: 2px solid #f4f4f4;
  padding: 5px;
  border-radius: 15px;
}
.logo img {
  height: 70px;
}

/* card */
.card {
  background: #fff;
  margin-bottom: 20px;
}

/* margin */
.mt-0 {
  margin-top: 0!important;
}
.mb-1 {
  margin-bottom: 1rem;
}

/* text */
.text-title {
  color: #333;
  font-weight: bold;
}
.name-brand {
  font-size: .8rem;
  color: #333;
}